<div class="container">
  <h2>Manage Tickets</h2>

  <div class="row">
    <div class="col-md-4 mb-4" *ngFor="let ticket of tickets; let i = index">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{ ticket.description }}</h5>
          <p class="card-text">
            Date de création: {{ ticket.dateCreation | date:'yyyy-MM-dd' }}<br>
            État: {{ ticket.etat }}<br>
            Équipement ID: {{ ticket.equipementId }}<br>
            Utilisateur ID: {{ ticket.utilisateurId }}<br>
            Panne ID: {{ ticket.panneId }}<br>
            Assigned To: {{ ticket.technicienId || 'Not assigned' }}<br> 
           </p>
          <form [formGroup]="assignForm" (ngSubmit)="assignTicket(ticket?.id)">
            <div class="form-group">
              <select class="form-control" formControlName="technicianId">
                <option value="">Choisissez un technicien</option>
                <option *ngFor="let tech of technicians" [value]="tech.id">{{ tech.nom }}</option>
              </select>
              <button type="submit" class="btn btn-primary mt-2">
                Assigner
              </button>
            </div>
            <input type="hidden" formControlName="ticketId" [value]="ticket?.id">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
