
<mat-sidenav-container class="sticky-side-menu full-size">
  <mat-sidenav mode="side" opened position="start" class="side-nav">
    <mat-nav-list>
      <a mat-list-item routerLink="/admin" routerLinkActive="menu-list-item-selected">
        <mat-icon class="menu-color"> assessment </mat-icon> Dashoard
      </a>
      <hr color="maroon">
      <a mat-list-item routerLink="/pannes">
        <mat-icon class="menu-color">report_problem</mat-icon> Pannes
      </a>
      <a mat-list-item routerLink="/admin-tickets">
        <mat-icon class="menu-color">book</mat-icon> Tickets
      </a>
      <a mat-list-item routerLink="/equipements">
        <mat-icon class="menu-color">inventory</mat-icon> Equipments
      </a>
      
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content-full">





  </mat-sidenav-content>
</mat-sidenav-container>