<mat-toolbar class="sticky">
  <span>
    <img class="logo" src="../assets/logo.png" routerLink="/home">
  </span>
  <span class="spacer"></span>
  <ul class="nav-list">
    <li>
      <a mat-button routerLink="/login" routerLinkActive="btn-selected">Log in</a>
    </li>
    <li>
      <button mat-icon-button>
        <mat-icon class="menu-dots">support_agent</mat-icon>
      </button>
    </li>
    <li>
      <button mat-icon-button>
        <mat-icon class="menu-dots">mail</mat-icon>
      </button>
    </li>
    <li>
      <button mat-icon-button (click)="logout()">
        <mat-icon class="menu-dots">logout</mat-icon>
      </button>
    </li>
  </ul>
</mat-toolbar>
<router-outlet></router-outlet>
